#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    color: #f4c91d;
    border: 2px solid #f4c91d;
    background-color: dimgray;
}